/* My learnings page */

.mylearning {
  min-height: 100vh;
}
.mylearning .mylearning-header {
  background-color: var(--black-text);
  color: var(--white-text);
  min-width: 40rem;
}

.mylearning .mylearning-header div,
.mylearning .mylearning-courses {
  min-width: 40rem;
  margin: auto;
  padding: 4rem 4rem 0;
  max-width: 134rem;
}
.mylearning .mylearning-header h1 {
  font-size: 4rem;
}

.mylearning .mylearning-header a {
  position: relative;
  bottom: 0.8rem;
  color: var(--white-text);
  border-bottom: 5px solid var(--white-text);
}

.mylearning .mylearning-header a:last-child {
  border-bottom: none;
}

.mylearning .mylearning-header a:hover {
  filter: brightness(75%);
}

.emptymylearning-courses {
  margin: 5rem;
  border: 1px solid var(--light-grey-border);
}

.emptymylearning-courses a {
  color: var(--purple-button-background-hover);
  border-bottom: 3px solid var(--purple-button-background-hover);
}

.emptymylearning-courses a:hover {
  color: var(--purple-text);
  border-bottom: 3px solid var(--purple-text);
}
