/* instructor page */

.instructor {
  min-width: 40rem;
  margin: auto;
  margin: 5rem auto;
}

.instructor__details .title {
  color: var(--light-grey-text);
}

.instructor__details h1 {
  font-size: 4rem;
}

.total__students div:first-of-type,
.total__reviews div:first-of-type {
  color: var(--light-grey-text);
}

.instructor__social .social-btn a {
  border: 1px solid var(--black-text);
  width: 20rem;
  height: 4.8rem;
  margin-bottom: 1.4rem;
  color: var(--black-text);
}
.instructor__social .social-btn a:hover {
  background-color: var(--grey-background);
}
