.arrow {
  position: absolute;
  top: 10rem;
  /* position: relative; */
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #6a6f73;
  width: 4rem;
  height: 4rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  z-index: 10;
}

.arrow:hover,
.arrow:active,
.arrow:focus {
  background-color: black;
}
.slick-prev:before,
.slick-next:before {
  visibility: hidden;
}
.arrow.slick-disabled {
  display: none;
}
.arrow svg {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: #fff;
}
